:root {
    print-color-adjust: exact;
}
.meta-body {
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #888888;
}

.meta-nav-bar {
    width: 100%;
    overflow: auto;
}
.meta-nav-button {
    float: left;
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 20%;
    height: 70px;
    background-color: #444444;
    border: none;
}
.meta-nav-button:hover {
    background-color: #111111;
}
.meta-nav-button#active {
    background-color: #000055;
}
#meta-container {
    background: white;
    padding: 20px;
    margin-bottom: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.content-holder {
    width: 48%;
    margin: auto;
    display: inline-block;
    vertical-align: top;
}

.header-table {
    width: 100%;
    text-align: center;
    border: 1px solid var(--color);
    padding: 0px;
}
.data {
    border: 1px solid var(--color);
    font-size: inherit;
    width:fit-content;
}
p {
    text-indent: 10px;
}
textarea {
    font-size: 10px;
}

.card-container {
    margin-top: 10px;
    position: relative;
    width: 2.5in;
    height: 3.5in;
    border: 8px solid var(--color);
    page-break-inside: avoid;
    box-sizing: border-box;
    display: block;
    margin: auto;
    font-size: 10px;
}
.header {
    height: 100px;
}
.name {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    width: fit-content;
    display: block;
    margin: auto;
}
.header-table {
    height: 50px;
    border: none;
}
.header-table-title {
    font-size: 120%;
    color: var(--color);
    font-weight: bold;
}
.data {
    font-size: 9px;
    width: 50%;
}
.material {
    padding: 2px 10px;
}
.spell-body {
    padding: 0px 3px;
    font-size: 10px;
    text-align: left;
}
.footer {
    height: 67px;
    position: absolute;
    bottom:0;
    left:0;
    text-align: left;
}
.upcast {
    height: 20px;
    padding: 1px 5px;
    font-size: 6px;
}
.concentration {
    width: fit-content;
    padding: 2px;
    display: inline;
    background: var(--color);
    border-radius: 10px;
    color: white;
}
.divider {
    background: var(--color);
    color: white;
    font-weight: bold;
    text-align: center;
}

