.list-content-holder {
    width: 48%;
    margin: auto;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
}

.list-filter-div {
    margin: 10px 0px;
    width: fit-content;
}

#curr-filter-table {
    width: 95%;
    height: 100%;
    margin: auto;
    border: solid black 2px;
}

#curr-filter-table td {
    border-right: solid black 2px;
    width: 20%;
    height: 100%
}

#curr-filter-table td:last-child {
    border-right: none;
}

.list-filters {
    text-align: center;
    font-weight: bold;
}

#list-filter-table {
    border: solid black 2px;
    width: 100%;
    text-align: center;
    font-size: 13px;
}

.list-filter-data {
    border-right: solid black 2px;
}

.list-filter-data:last-child {
    border-right: none;
}

.list-p {
    text-indent: 25px;
    font-size: 16px;
}

#list-spells-table {
    border-collapse: collapse;
    border:solid black 2px;
    width: 100%;
}

.list-spell-row {
    border: solid black 2px;
    font-size: 14px;
}

.list-spell-row td {
    padding: 10px 0px;
}

.list-spell-row:nth-child(even) {
    background: #dddddd;
}

th:nth-child(2), .list-spell-row:nth-child(2) {
    width: 25%;
    padding: 10px 0px;
}

th:nth-child(2), .list-spell-row:nth-child(2) {
    width: 25%;
    padding: 10px 0px;
}

th:nth-child(3), .list-spell-row:nth-child(3) {
    width: 23%;
}

th:nth-child(4), .list-spell-row:nth-child(4) {
    width: 13%;
}

th:nth-child(5), .list-spell-row:nth-child(5) {
    width: 15%;
}

.spell-submit {
    -webkit-appearance: none;
    appearance: none;
    text-decoration: none;
    width:100%;
    margin: 20px 0px;
    height: 50px;
    font-size: large;
    background: rgba(180, 180, 180, 0);
    border: solid black 1px;
    transition-property: background;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

.spell-submit:hover {
    background: rgba(180, 180, 180, 255);
}

.filter-button {
    appearance: none;
    border: none;
    background: none;
}

td:nth-child(1) .filter-button {
    font-size: 10px;
}

td:nth-child(3) .filter-button {
    font-size: 9px;
}

td:nth-child(5) .filter-button {
    font-size: 9px;
}

.curr-filter, .list-filter-data {
    border: none;
}